@import './variables.scss';

body {
  font-family: $font-main;
}
input {
  font-family: $font-main;
}
button {
  font-family: $font-main;
}
a {
  text-decoration: none;
  font-family: $font-main;
}
.page-enter-active, .page-leave-active {
  transition: opacity .3s
}
.page-enter, .page-leave-active {
  opacity: 0
}
