@import './variables.scss';

body {
  font-family: $font-main;
  color: $color-white;
}
input {
  font-family: $font-main;
}
button {
  font-family: $font-main;
}
a {
  text-decoration: none;
  font-family: $font-main;
}
